*{
    padding:0px;
    margin:0px;
}

body{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
   
    flex-direction: column;
    background-color: #D7DAE5;
}

.main_cal{
    background-color: #D7DAE5;
    display:flex;
    flex-wrap: wrap;
    width:200px;
    height:200px;
    border: 1px black solid;
}

.header{
    background-color: #B9CDDA;
    display:flex;
    justify-content: flex-end;
    align-items: flex-end;
    width:198px;
    height:25px;
    border: 2px black solid;
    border-bottom: none;
}
button{
    flex:1;
    min-width: 50px;
    
    background-color: #ACBBAD;
}

.main_title{
    font-family: 'Gill Sans';
    font-weight: bold;
    margin-bottom: 50px;
    font-size:48px;
}